@page
@model Donation.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PaymentList.UserName" class="control-label"></label>
                <input asp-for="PaymentList.UserName" class="form-control"/>
                <span asp-validation-for="PaymentList.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentList.Password" class="control-label"></label>
                <input asp-for="PaymentList.UserName" class="form-control" />
                <span asp-validation-for="PaymentList.UserName" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="PaymentList.orderId" class="control-label"></label>
                <input asp-for="PaymentList.orderId" class="form-control"/>
                <span asp-validation-for="PaymentList.orderId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Get Status" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

